.home-container {
    margin-top: 78px;
}

.btn  {
    height: 70px;
    border:2px solid #aed3d8;
    background-color: transparent;
    padding: 16px 32px;
    margin-right:1.5rem;
    margin-top:1.5rem;
}
.btn-text {
    font-weight: 500;
    font-size: 18px;
    color: #0d324d;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}
.btn-next {
    padding:1.5rem;
    background-color: #0d324d;
    color:#aed3d8;
}
input {
    height: 70px;
}
// .second-btn {
//     @media (min-width:768px) {
//         margin-left: 1rem;

//     }
//     @media (max-width:768px) {
//         margin-top: 1rem;
//     }
// }
.heading {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: bold;
    margin-top:20px;
}
.description {
    margin: 0 auto;
    font-size: 18px;
    color: #0d324d;
    letter-spacing: 0;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 40px;
}

.back-btn {
    background: transparent;
    border:none;
    color:#000;
    position: absolute;
    left: 13%;
    top: 5rem;
}
.first-half {
    border-right: 2px solid;
    padding:2rem;
    padding-right: 4rem;
}
.inverse-row {
    flex-direction: column;
}

.search-btn {
    height: 70px;
    border:none;
    color:#0d324d;
    font-weight: bold;
    background-color:cadetblue;
}

.search-input {
    width: 54%;
    @media (max-width:36rem){
        width:90%;
    }
}

.search-label {
    margin-left:160px;
    @media(max-width:36rem) {
        margin-left: auto;
        margin-right: auto;
    }
}

input[type="checkbox"] {
    width: 70px;
    margin-right: 1.5rem;
}
.full-input {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.free-text {
    margin-left: 1.5rem;
}

.last-name {
    margin-left: 4rem;
}

select {
    height: 70px;
}

.free-icons {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.box-container {
    padding:1.5rem;
    border:1px solid #0d324d;
    margin-top: 1rem;
}